@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
 background: #ffffff;
 height: 100vh !important;
}
#root{
   height: 100vh !important;
}

.divider{
  border-top-width: 1px !important;
  border-color: #900090;
}

.gradient-color{
  background: linear-gradient(45deg,#b772ff, #ec88bc);
}
.gradient-color-svg{
  color: linear-gradient(45deg,#b772ff, #ec88bc);
}
input:focus{
  border-color: #b772ff !important;
}
