@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
 background: #ffffff;
 height: 100vh !important;
}
#root{
   height: 100vh !important;
}

.divider{
  border-top-width: 1px !important;
  border-color: #900090;
}

.gradient-color{
  background: linear-gradient(45deg,#b772ff, #ec88bc);
}
.gradient-color-svg{
  color: linear-gradient(45deg,#b772ff, #ec88bc);
}
input:focus{
  border-color: #b772ff !important;
}

.stepper{
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg,#b772ff, #ec88bc);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.stepper-disableb{
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg,#a0a0a0, #7a7a7a);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.wrap-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.937);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}
.wrap-loading-gray {
    background-color: rgba(0, 0, 0, 0.2);
}